 body {
     background-color: blue;
 }
 
 .container {
     margin-top: 0;
     margin-right: auto;
     margin-bottom: 0;
     margin-left: auto;
     background-color: white;
     width: 660px;
 }
 
 .leftside {
     margin-top: auto;
     margin-right: auto;
     margin-bottom: auto;
     margin-left: 0;
     background-color: white;
     float: left;
     overflow: hidden;
     width: 270px;
 }
h1 {
    text-align: center;
}